.spacer {
  flex: 1 1 auto;
}

.query-field{
  justify-content: space-between; 
  display: inline-block;
  padding: 5px;
}

table {
  width: 100%;
}

.progressBar{
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}