<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Volvo Group - TBALOG</span>
        <span class="spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card>
    <mat-card-header>
        <mat-card-title>Filtros</mat-card-title>
    </mat-card-header>

    <form [formGroup]="queryForm">
        <mat-form-field class="query-field" appearance="fill">
            <mat-label>JCL</mat-label>
            <input matInput formControlName="jclParameter" placeholder="Ex. PA04R01" required>
            <mat-error *ngIf="hasError('jclParameter','required')">JCL precisa ser preenchido</mat-error>
        </mat-form-field>


        <mat-form-field class="query-field" appearance="fill">
            <mat-label>Keyword</mat-label>
            <input matInput formControlName="keywordParameter" placeholder="Ex. -803" required>
            <mat-error *ngIf="hasError('keywordParameter','required')">Keyword precisa ser preenchido</mat-error>
        </mat-form-field>


        <mat-form-field class="query-field" appearance="fill">
            <mat-label>From</mat-label>
            <input matInput formControlName="fromDate" type="date">
        </mat-form-field>

        
        <mat-form-field class="query-field" appearance="fill">
            <mat-label>To</mat-label>
            <input matInput formControlName="toDate" type="date">
            <div class="dateErrors">
                <div style = "color:red" *ngIf="hasErrorFormGroup('notValid')">
                    Não válido
                </div>
            </div>

        </mat-form-field>

        <button mat-flat-button color="primary" [disabled]="!queryForm.valid" (click)="sendQuery()">Procurar</button>
        </form>
</mat-card>

<mat-card *ngIf="dataSource">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="jcl">
            <th mat-header-cell *matHeaderCellDef> JCL </th>
            <td mat-cell *matCellDef="let element"> {{element.jcl}} </td>
        </ng-container>

        <ng-container matColumnDef="query">
            <th mat-header-cell *matHeaderCellDef> Query </th>
            <td mat-cell *matCellDef="let element"> {{element.query}} </td>
        </ng-container>

        <ng-container matColumnDef="consolidatedFileName">
            <th mat-header-cell *matHeaderCellDef> Nome do arquivo consolidado </th>
            <td mat-cell *matCellDef="let element"> {{element.consolidatedFileName}} </td>
        </ng-container>

        <ng-container matColumnDef="job">
            <th mat-header-cell *matHeaderCellDef> Job </th>
            <td mat-cell *matCellDef="let element"> {{element.job}} </td>
        </ng-container>

        <ng-container matColumnDef="timeStamp">
            <th mat-header-cell *matHeaderCellDef> Time Stamp </th>
            <td mat-cell *matCellDef="let element"> {{element.timeStamp}} </td>
        </ng-container>

        <ng-container matColumnDef="directLink">
            <th mat-header-cell *matHeaderCellDef> Direct Link </th>
            <td mat-cell *matCellDef="let element">
                <button mat-stroked-button color="primary" (click)="goToLink(element.directLink)">Baixar arquivo</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="progressBar">
        <mat-progress-bar [style.display]="showProgressBar ? 'block' : 'none'" mode="indeterminate"></mat-progress-bar>   
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons 
        aria-label="Select page of logs">
    </mat-paginator>

</mat-card>